.boxTitle{
    background-color: #192841;
    color: white;
    margin: 0px;
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
}

.boxSubtitle{
    background-color: white;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.boxFootNote{
    background-color: #192841;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

/*properties of not visited link*/
.boxFootNote a:link{
    color: red;
}

/*properties of visited link*/
.boxFootNote a:visited{
    color:chartreuse;
}

.boxFootNote a:hover{
    color:darkorange;
}