.mainContainer{
    background-color:aqua;
    margin: 0px 50px 0px 50px;
}

/*************************************************/
.flex-header{
    display: flex;
    background-color: bisque;
    border: 1px solid red;
    height: 100px;
}
.flex-header img{
    height: 90px;
    border: 1px solid coral;
    margin: 2px 0 2px 20px;
}
.flex-header nav{
    display: flex;
    border: 1px dashed blue;
    justify-content: flex-end;
    flex-grow: 1;                   /*<--- Search*/
    align-items: center;
    flex-wrap: wrap;
    margin: 2px 20px 2px 2px;
}
.flex-header a{
    border: 1px solid magenta;
    font-size: 18px;
    margin: 5px;
}

/*************************************************/

.flex-description{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color:deeppink ;
    flex-direction: row;
    padding: 20px;
}

.flex-description p{
    width: 200px;
    border: 1px solid blue;
}

/*************************************************/
.flex-foot-container{
    display: flex;
    background-color: bisque;
    border: 1px solid red;
    justify-content: space-around;
    padding: 20px;
}

.flex-foot-container a{ 
    border: 1px solid blue;
    margin: 10px;
}


/*VVVVVVVVVVVVVVVVV Media Query VVVVVVVVVVVVVVVVVVVVV*/
@media (max-width: 450px) {
    .flex-foot-container{
        display: flex;
        background-color: chartreuse;
        justify-content: space-around;
        padding: 20px;
    }
    
    .flex-foot-container a{ 
        display: flex;
        justify-content: center;
        text-align: center;
        border: 1px solid blue;
        margin: 10px;
    }
}

@media (max-width: 650px){
    .flex-header img{
        height: 70px;
    }
    .flex-header a{
        font-size: 14px;
    }
}

@media (max-width: 560px) {
    .flex-header nav{
        display: flex;
        border: 1px dashed blue;
        flex-direction: column;
        flex-grow: 1;                   /*<--- Search*/
        align-items: flex-end;
        margin: 2px 20px 2px 2px;
    }
    .flex-header img{
        height: 70px;
    }
    .flex-header a{
        margin: 0px;        
    }
}