.mainContainer{
    background-color:aqua;
    margin: 0px 50px 0px 50px;
}

/*************************************************/
.flex-container{
    display: flex;
    background-color: bisque;
    border: 1px solid red;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 10px;
    /*height: 50px;*/   /*Media query don't work well with this property*/
}

.flex-container a{
    border: 1px solid blue;
    padding: 2px;
}

/*************************************************/

.flex-description{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color:deeppink ;
    flex-direction: row;
    padding: 20px;
}

.flex-description p{
    width: 200px;
    border: 1px solid blue;
}

/*************************************************/
.flex-foot-container{
    display: flex;
    background-color: bisque;
    border: 1px solid red;
    justify-content: space-around;
    padding: 20px;
}

.flex-foot-container a{ 
    border: 1px solid blue;
    margin: 10px;
}


/*VVVVVVVVVVVVVVVVV Media Query VVVVVVVVVVVVVVVVVVVVV*/
@media (max-width: 450px) {
    .flex-container{
        display: flex;
        flex-direction: column;
        background-color: chartreuse;
        padding: 10px;
    }
    .flex-container a{
        display: flex;
        justify-content:flex-end;
        border: 1px solid blue;
        margin-top: 2px;
    }
    /*-------------------------------------*/
    .flex-foot-container{
        display: flex;
        background-color: chartreuse;
        justify-content: space-around;
        padding: 20px;
    }
    
    .flex-foot-container a{ 
        display: flex;
        justify-content: center;
        text-align: center;
        border: 1px solid blue;
        margin: 10px;
    }
}